target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.class
*.log
*.jar
*.war
*.ear

build/

### Gradle ###
.gradle/

### Segredos e credenciais (nunca versionar) ###
*.env
.env
.env.*
*.jks
*.keystore
key.properties
keystore.properties
*.p12
*.p8

*.md
